Repository pydiverse/pydiverse.transform: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-col-ops, taplo, check-merge-conflict

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: generate-col-ops
        name: generate-col-ops
        language: system
        entry: pixi run python generate_col_ops.py
        types: [python]
        pass_filenames: false
      # ruff
      - id: ruff
        name: ruff
        entry: pixi run ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      # - id: mypy
      #   name: mypy
      #   entry: pixi run mypy
      #   language: system
      #   types: [python]
      #   require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run check-merge-conflict --assume-in-merge
        language: system
        types: [text]
        exclude: ".rst$"
      # typos
      - id: typos
        name: typos
        entry: pixi run typos --force-exclude
        language: system
        types: [text]
        require_serial: true

accept whitespace problems in MSSQL equality comparisons since the fix killed JOIN performance
  docs/source/changelog.md
  src/pydiverse/transform/_internal/backend/mssql.py
  tests/test_backend_equivalence/test_ops/test_ops_string.py
Due: generate-col-ops, check-merge-conflict

accept whitespace problems in MSSQL equality comparisons since the fix killed JOIN performance (#103)
  docs/source/changelog.md
  src/pydiverse/transform/_internal/backend/mssql.py
  tests/test_backend_equivalence/test_ops/test_ops_string.py
Due: generate-col-ops, check-merge-conflict

Update pixi lockfile
  pixi.lock
Due: check-merge-conflict

Fix repr(Table) for group-by expressions.
  src/pydiverse/transform/_internal/pipe/table.py
Due: generate-col-ops, check-merge-conflict

Update copyright year to 2026 in license headers.
  src/pydiverse/transform/_internal/backend/mssql.py
  src/pydiverse/transform/_internal/backend/sql.py
  tests/test_backend_equivalence/test_ops/test_ops_string.py
  tests/test_backend_equivalence/test_print.py
  tests/test_sql_table.py
Due: generate-col-ops, check-merge-conflict

Add exclude-newer
  pixi.toml
Due: taplo, check-merge-conflict

deps: Update lockfile
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict

exclude new packages
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict

remove host deps
  pixi.toml
Due: taplo, check-merge-conflict

pre-commit
  pixi.toml
  src/pydiverse/transform/_internal/backend/mssql.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/pipe/pipeable.py
  src/pydiverse/transform/_internal/pipe/table.py
  src/pydiverse/transform/_internal/tree/verbs.py
  tests/test_backend_equivalence/test_arrange.py
  tests/test_backend_equivalence/test_filter.py
  tests/test_backend_equivalence/test_group_by.py
  tests/test_backend_equivalence/test_join.py
  tests/test_backend_equivalence/test_mutate.py
  tests/test_backend_equivalence/test_ops/test_case_expression.py
  tests/test_backend_equivalence/test_ops/test_cast.py
  tests/test_backend_equivalence/test_ops/test_functions.py
  tests/test_backend_equivalence/test_ops/test_ops_datetime.py
  tests/test_backend_equivalence/test_ops/test_ops_int.py
  tests/test_backend_equivalence/test_ops/test_ops_list.py
  tests/test_backend_equivalence/test_ops/test_ops_numerical.py
  tests/test_backend_equivalence/test_ops/test_ops_string.py
  tests/test_backend_equivalence/test_print.py
  tests/test_backend_equivalence/test_slice_head.py
  tests/test_backend_equivalence/test_summarize.py
  tests/test_backend_equivalence/test_union.py
  tests/test_backend_equivalence/test_window_function.py
  tests/test_sql_table.py
Due: generate-col-ops, taplo, check-merge-conflict

Xfail test_complex on DuckDB 1.5.1-1.5.4 binder regression
  tests/test_backend_equivalence/test_window_function.py
Due: generate-col-ops, check-merge-conflict

Fix check-deps for build tooling and pyarrow bound
  .github/scripts/check_deps.sh
  pyproject.toml
Due: taplo, check-merge-conflict

changelog
  docs/source/changelog.md
Due: check-merge-conflict

deps: Update lockfile (#112)
  .github/scripts/check_deps.sh
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  pyproject.toml
  src/pydiverse/transform/_internal/backend/mssql.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/pipe/pipeable.py
  src/pydiverse/transform/_internal/pipe/table.py
  src/pydiverse/transform/_internal/tree/verbs.py
  tests/test_backend_equivalence/test_arrange.py
  tests/test_backend_equivalence/test_filter.py
  tests/test_backend_equivalence/test_group_by.py
  tests/test_backend_equivalence/test_join.py
  tests/test_backend_equivalence/test_mutate.py
  tests/test_backend_equivalence/test_ops/test_case_expression.py
  tests/test_backend_equivalence/test_ops/test_cast.py
  tests/test_backend_equivalence/test_ops/test_functions.py
  tests/test_backend_equivalence/test_ops/test_ops_datetime.py
  tests/test_backend_equivalence/test_ops/test_ops_int.py
  tests/test_backend_equivalence/test_ops/test_ops_list.py
  tests/test_backend_equivalence/test_ops/test_ops_numerical.py
  tests/test_backend_equivalence/test_ops/test_ops_string.py
  tests/test_backend_equivalence/test_print.py
  tests/test_backend_equivalence/test_slice_head.py
  tests/test_backend_equivalence/test_summarize.py
  tests/test_backend_equivalence/test_union.py
  tests/test_backend_equivalence/test_window_function.py
  tests/test_sql_table.py
Due: generate-col-ops, taplo, check-merge-conflict

version 0.7.1
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

deps: Update pandas
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

deps: Update pandas (#113)
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict
