Repository pydiverse/pydiverse.transform: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-col-ops, taplo, check-merge-conflict

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: generate-col-ops
        name: generate-col-ops
        language: system
        entry: pixi run python generate_col_ops.py
        types: [python]
        pass_filenames: false
      # ruff
      - id: ruff
        name: ruff
        entry: pixi run ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      # - id: mypy
      #   name: mypy
      #   entry: pixi run mypy
      #   language: system
      #   types: [python]
      #   require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run check-merge-conflict --assume-in-merge
        language: system
        types: [text]
        exclude: ".rst$"
      # typos
      - id: typos
        name: typos
        entry: pixi run typos --force-exclude
        language: system
        types: [text]
        require_serial: true

bug with cost Enum expression
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

print dunder operators with actual symbols
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

fix enum type conversion
  src/pydiverse/transform/_internal/tree/types.py
Due: generate-col-ops, check-merge-conflict

add columns verb
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/common.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

add regex for polars, postgres and duckdb
  generate_col_ops.py
  src/pydiverse/transform/_internal/backend/duckdb.py
  src/pydiverse/transform/_internal/backend/mssql.py
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/postgres.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/backend/sqlite.py
  src/pydiverse/transform/_internal/ops/ops/datetime.py
  src/pydiverse/transform/_internal/ops/ops/string.py
  src/pydiverse/transform/_internal/pipe/functions.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  tests/test_backend_equivalence/test_ops/test_ops_string.py
Due: generate-col-ops, check-merge-conflict

fix changelog.md
  docs/source/changelog.md
Due: check-merge-conflict

add regex for ibm_db2
  src/pydiverse/transform/_internal/backend/ibm_db2.py
Due: generate-col-ops, check-merge-conflict

remove get_backend
  src/pydiverse/transform/_internal/backend/table_impl.py
  src/pydiverse/transform/_internal/pipe/cache.py
  src/pydiverse/transform/_internal/pipe/table.py
  src/pydiverse/transform/_internal/pipe/verbs.py
Due: generate-col-ops, check-merge-conflict

fix ibm_db2 regex empty pattern
  src/pydiverse/transform/_internal/backend/ibm_db2.py
Due: generate-col-ops, check-merge-conflict

add true_if_regex_unsuported in mssql
  src/pydiverse/transform/_internal/backend/mssql.py
Due: generate-col-ops, check-merge-conflict

another db2 regex fix
  src/pydiverse/transform/_internal/backend/ibm_db2.py
Due: generate-col-ops, check-merge-conflict

improve parenthesizing and expr. syntax
  src/pydiverse/transform/_internal/backend/mssql.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

special case for pdt.<fn name> like operators
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

write table definitions at the top
  src/pydiverse/transform/_internal/backend/duckdb_polars.py
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/backend/table_impl.py
  src/pydiverse/transform/_internal/pipe/cache.py
  src/pydiverse/transform/_internal/pipe/table.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/ast.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  src/pydiverse/transform/_internal/tree/verbs.py
Due: generate-col-ops, check-merge-conflict

propagate table display name to Columns
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

fix table display name routing
  src/pydiverse/transform/_internal/tree/ast.py
  src/pydiverse/transform/_internal/tree/verbs.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

make table naming work with eval_aligned
  src/pydiverse/transform/_internal/tree/ast.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

fix engine string
  src/pydiverse/transform/_internal/backend/sql.py
Due: generate-col-ops, check-merge-conflict

add comments
  src/pydiverse/transform/_internal/tree/ast.py
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

fix TypeError -> DataTypeError
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

make ast path string more informative
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

update ast_repr doc
  src/pydiverse/transform/_internal/pipe/verbs.py
Due: generate-col-ops, check-merge-conflict

Bring AST repr closer to the real transform syntax (#79)
  src/pydiverse/transform/_internal/backend/duckdb_polars.py
  src/pydiverse/transform/_internal/backend/mssql.py
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/backend/table_impl.py
  src/pydiverse/transform/_internal/pipe/cache.py
  src/pydiverse/transform/_internal/pipe/table.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/ast.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  src/pydiverse/transform/_internal/tree/verbs.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

introduce logger
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  src/pydiverse/transform/_internal/backend/polars.py
  tests/conftest.py
  tests/test_polars_table.py
Due: generate-col-ops, taplo, check-merge-conflict

Fixed compatibility with pydiverse common 0.3.12
  pixi.lock
  pixi.toml
  src/pydiverse/transform/_internal/tree/types.py
Due: generate-col-ops, taplo, check-merge-conflict

prepare release 0.5.6
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

replace ruff subprocess with black API
  pixi.lock
  pixi.toml
  src/pydiverse/transform/_internal/tree/ast.py
  tests/test_polars_table.py
Due: generate-col-ops, taplo, check-merge-conflict

fixed changelog
  docs/source/changelog.md
Due: check-merge-conflict

fix pypi dependencies
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

Fix cast constraints. They should not depend on attributes.
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

Replace ruff with black API for AST rendering (#80)
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  pyproject.toml
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/tree/ast.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  src/pydiverse/transform/_internal/tree/types.py
  tests/conftest.py
  tests/test_polars_table.py
Due: generate-col-ops, taplo, check-merge-conflict

Update pixi lockfile
  pixi.lock
Due: check-merge-conflict

- bump dependency to pydiverse.common 0.4.0 (switch structlog config to stdlib logging)
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

- bump dependency to pydiverse.common 0.4.0 (switch structlog config to stdlib logging)
  pixi.toml
Due: taplo, check-merge-conflict

Comment potential ibm_db 3.2.7 problem.
  pixi.toml
Due: taplo, check-merge-conflict

bump pydiverse.common 0.4 (#84)
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

Add pixi to pypi README
  docs/package/README.md
Due: check-merge-conflict

Pin github actions
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/tests.yml
  .github/workflows/update-lockfiles.yml
Due: check-merge-conflict

Restrict ibm_db versions.
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict
