Repository pydiverse/pydiverse.transform: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-col-ops, taplo, check-merge-conflict

generate-col-ops:
  name: generate-col-ops
  language: system
  entry: pixi run python generate_col_ops.py
  pass_filenames: false

taplo:
  name: taplo
  entry: pixi run taplo format
  language: system

check-merge-conflict:
  name: check-merge-conflict
  entry: pixi run check-merge-conflict --assume-in-merge
  language: system

remove unused test
  tests/test_polars_table.py
  tests/util/assertion.py
Due: generate-col-ops, check-merge-conflict

fix \ in fstring
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

require pydiverse.common 0.3.5
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

prepare 0.5.3
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

Update pixi lockfile
  pixi.lock
Due: check-merge-conflict

Fix Uint vs. UInt in sphinx documentation.
  docs/source/reference/types.rst
Due: none

Fix readthedocs.io
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict

Fix readthedocs.io
  pyproject.toml
Due: taplo, check-merge-conflict

Align pixi.toml docs dependencies
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict

allow Col and ColName as `rename` keys
  src/pydiverse/transform/_internal/pipe/verbs.py
Due: generate-col-ops, check-merge-conflict

print more useful names for unnamed tables
  src/pydiverse/transform/_internal/backend/table_impl.py
  src/pydiverse/transform/_internal/pipe/table.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

throw error on group by non-selected column
  src/pydiverse/transform/_internal/pipe/verbs.py
Due: generate-col-ops, check-merge-conflict

throw error for non-aggregated cols in summarize
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  tests/test_backend_equivalence/test_alias.py
Due: generate-col-ops, check-merge-conflict

add custom __repr__ for AST
  src/pydiverse/transform/_internal/backend/duckdb_polars.py
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/ast.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  src/pydiverse/transform/_internal/tree/verbs.py
  src/pydiverse/transform/common.py
  tests/test_sql_table.py
Due: generate-col-ops, check-merge-conflict

add `name` and `ast_repr` verbs to documentation
  docs/source/reference/verbs.rst
  src/pydiverse/transform/_internal/pipe/verbs.py
Due: generate-col-ops, check-merge-conflict

explain `pipe` parameter in docs
  src/pydiverse/transform/_internal/pipe/verbs.py
Due: generate-col-ops, check-merge-conflict

add sin, cos, sqrt, etc.
  docs/source/reference/operators/index.rst
  src/pydiverse/transform/_internal/backend/mssql.py
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/backend/sqlite.py
  src/pydiverse/transform/_internal/ops/ops/numeric.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  tests/test_backend_equivalence/test_ops/test_ops_numerical.py
Due: generate-col-ops, check-merge-conflict

add clip
  docs/source/reference/operators/index.rst
  src/pydiverse/transform/_internal/backend/impl_store.py
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/backend/sqlite.py
  src/pydiverse/transform/_internal/ops/ops/comparison.py
  src/pydiverse/transform/_internal/ops/ops/numeric.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  tests/test_backend_equivalence/test_ops/test_ops_numerical.py
Due: generate-col-ops, check-merge-conflict

Expand testing setup for IBM DB2 backend.
  .github/scripts/docker_compose_ready.sh
  .github/workflows/test.yml
  .github/workflows/tests.yml
  docker-compose.yaml
  pixi.lock
  pixi.toml
  src/pydiverse/transform/_internal/backend/ibm_db2.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/pipe/cache.py
  src/pydiverse/transform/_internal/pipe/table.py
  tests/conftest.py
  tests/util/backend.py
Due: generate-col-ops, taplo, check-merge-conflict

pixi update
  pixi.lock
Due: check-merge-conflict

try fix github actions
  .github/workflows/tests.yml
Due: check-merge-conflict

try fix github actions
  .github/workflows/test.yml
Due: check-merge-conflict

fix duckdb_parquet backend
  .github/workflows/tests.yml
  tests/util/backend.py
Due: generate-col-ops, check-merge-conflict

implement new name collision resolution for join
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/backend/table_impl.py
  src/pydiverse/transform/_internal/pipe/cache.py
  src/pydiverse/transform/_internal/pipe/pipeable.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/verbs.py
  tests/test_backend_equivalence/test_join.py
  tests/test_backend_equivalence/test_slice_head.py
Due: generate-col-ops, check-merge-conflict

fix test_sql_table.py for IBM DB2
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/backend/sqlalchemy_fixes.py
  tests/test_sql_table.py
Due: generate-col-ops, check-merge-conflict

relax alias requirement for subqueries
  src/pydiverse/transform/_internal/backend/duckdb_polars.py
  src/pydiverse/transform/_internal/backend/mssql.py
  src/pydiverse/transform/_internal/backend/table_impl.py
  src/pydiverse/transform/_internal/pipe/pipeable.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/ast.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  src/pydiverse/transform/_internal/tree/verbs.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

add test for join renaming
  tests/test_backend_equivalence/test_slice_head.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

do not print stack trace in ColExpr.__repr__
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

improve ColExpr AST repr
  src/pydiverse/transform/_internal/tree/col_expr.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

write proper Cache __repr__
  src/pydiverse/transform/_internal/backend/duckdb_polars.py
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/pipe/cache.py
  src/pydiverse/transform/_internal/tree/ast.py
  src/pydiverse/transform/_internal/tree/verbs.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

fix format string issues
  src/pydiverse/transform/_internal/pipe/cache.py
  src/pydiverse/transform/_internal/tree/verbs.py
Due: generate-col-ops, check-merge-conflict

print example for failed column export
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

test more string lengths for DB2
  src/pydiverse/transform/_internal/backend/ibm_db2.py
  src/pydiverse/transform/_internal/backend/sql.py
  tests/test_backend_equivalence/conftest.py
  tests/util/backend.py
Due: generate-col-ops, check-merge-conflict

Fix db2 full outer join again.
  src/pydiverse/transform/_internal/backend/sql.py
Due: generate-col-ops, check-merge-conflict

Fix db2 LAG
  src/pydiverse/transform/_internal/backend/sql.py
  tests/util/backend.py
Due: generate-col-ops, check-merge-conflict

print AST path to error source in verbs
  src/pydiverse/transform/_internal/backend/table_impl.py
  src/pydiverse/transform/_internal/errors/__init__.py
  src/pydiverse/transform/_internal/ops/op.py
  src/pydiverse/transform/_internal/pipe/cache.py
  src/pydiverse/transform/_internal/pipe/functions.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  src/pydiverse/transform/_internal/tree/verbs.py
  src/pydiverse/transform/errors.py
  tests/test_backend_equivalence/test_ops/test_case_expression.py
  tests/test_backend_equivalence/test_ops/test_functions.py
  tests/test_backend_equivalence/test_ops/test_ops_datetime.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

fix and add tests
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  src/pydiverse/transform/_internal/tree/types.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

add self-join tests
  src/pydiverse/transform/_internal/backend/sql.py
  tests/test_backend_equivalence/test_join.py
Due: generate-col-ops, check-merge-conflict

add Operator and ColName repr
  src/pydiverse/transform/_internal/ops/op.py
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

Path conditions:
  generate-col-ops: any of: \.py$, but not: ^.pixi$
  taplo: any of: \.toml$, but not: ^.pixi$
  check-merge-conflict: any of: not (.rst$), but not: ^.pixi$
