Repository pydiverse/pydiverse.transform: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-col-ops, taplo, check-merge-conflict

generate-col-ops:
  name: generate-col-ops
  language: system
  entry: pixi run python generate_col_ops.py
  pass_filenames: false

taplo:
  name: taplo
  entry: pixi run taplo format
  language: system

check-merge-conflict:
  name: check-merge-conflict
  entry: pixi run check-merge-conflict --assume-in-merge
  language: system

Fix changelog date
  docs/source/changelog.md
Due: check-merge-conflict

ensure correct column names in Table.__iter__
  src/pydiverse/transform/_internal/pipe/table.py
Due: generate-col-ops, check-merge-conflict

add cast(strict=False) and fix duckdb types
  src/pydiverse/transform/_internal/backend/duckdb.py
  src/pydiverse/transform/_internal/backend/mssql.py
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/postgres.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/backend/sqlite.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  tests/test_backend_equivalence/test_ops/test_cast.py
Due: generate-col-ops, check-merge-conflict

fix lost strict parameter in bool / bit conversion
  src/pydiverse/transform/_internal/backend/mssql.py
  src/pydiverse/transform/_internal/backend/sqlite.py
Due: generate-col-ops, check-merge-conflict

print reason for subquery
  src/pydiverse/transform/_internal/pipe/cache.py
  src/pydiverse/transform/_internal/pipe/pipeable.py
Due: generate-col-ops, check-merge-conflict

add Time and Duration comparison
  src/pydiverse/transform/_internal/backend/table_impl.py
  src/pydiverse/transform/_internal/pipe/functions.py
  src/pydiverse/transform/_internal/pipe/pipeable.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  src/pydiverse/transform/_internal/tree/types.py
Due: generate-col-ops, check-merge-conflict

fix mistake in sql subqueries
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/pipe/cache.py
  tests/test_backend_equivalence/test_ops/test_cast.py
Due: generate-col-ops, check-merge-conflict

Test python 3.13 and homogenize pre-commit setup.
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict

temporarily remove insert-license to show that tests work
  .pre-commit-config.yaml
Due: check-merge-conflict

make decimal a subtype of float
  src/pydiverse/transform/_internal/ops/ops/aggregation.py
  src/pydiverse/transform/_internal/ops/ops/arithmetic.py
  src/pydiverse/transform/_internal/ops/ops/numeric.py
  src/pydiverse/transform/_internal/pipe/functions.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  src/pydiverse/transform/_internal/tree/types.py
Due: generate-col-ops, check-merge-conflict

add decimal test
  src/pydiverse/transform/_internal/backend/duckdb.py
  src/pydiverse/transform/_internal/backend/mssql.py
  tests/test_backend_equivalence/test_ops/test_ops_numerical.py
  tests/util/assertion.py
Due: generate-col-ops, check-merge-conflict

Fixed some division tests which produced decimals in some backends.
  tests/test_backend_equivalence/test_ops/test_ops_int.py
  tests/util/assertion.py
Due: generate-col-ops, check-merge-conflict

Require pydiverse-common 0.2.0 to fix tests
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

Require pydiverse-common 0.2.0 to fix tests
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

rename Uint type to UInt (see pydiverse.common 0.3)
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  pyproject.toml
  src/pydiverse/transform/__init__.py
  src/pydiverse/transform/_internal/backend/duckdb.py
  src/pydiverse/transform/_internal/backend/mssql.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/types.py
  src/pydiverse/transform/types.py
  src/pydiverse/transform/version.py
  tests/test_version.py
Due: generate-col-ops, taplo, check-merge-conflict

align pyproject.toml with pydiverse.common
  pyproject.toml
  src/pydiverse/transform/_internal/util/__init__.py
  tests/util/__init__.py
Due: generate-col-ops, taplo, check-merge-conflict

updated pixi.lock
  pixi.lock
  pixi.toml
Due: taplo, check-merge-conflict

add `name` verb and `pipe` to show_query
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/common.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

Fix pypi dependencies in pyproject.toml
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

Fix pypi dependencies in pyproject.toml (#62)
  docs/source/changelog.md
  pyproject.toml
Due: taplo, check-merge-conflict

implement head / tail printing
  src/pydiverse/transform/_internal/pipe/table.py
  tests/test_polars_table.py
  tests/test_sql_table.py
Due: generate-col-ops, check-merge-conflict

fix mssql OFFSET without ORDER BY
  src/pydiverse/transform/_internal/backend/mssql.py
  src/pydiverse/transform/_internal/backend/sql.py
  tests/test_backend_equivalence/test_print.py
Due: generate-col-ops, check-merge-conflict

fix polars round() with negative precision
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/sqlite.py
  tests/test_backend_equivalence/test_ops/test_ops_numerical.py
  tests/test_backend_equivalence/test_print.py
Due: generate-col-ops, check-merge-conflict

fix postgres round typing
  src/pydiverse/transform/_internal/backend/postgres.py
Due: generate-col-ops, check-merge-conflict

add `pipe` option to `show`
  src/pydiverse/transform/_internal/pipe/verbs.py
Due: generate-col-ops, check-merge-conflict

Ensure common 0.3.4 dependencies are installed.
  .github/scripts/check_deps.sh
  .github/workflows/tests.yml
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

updated dependencies
  pixi.toml
Due: taplo, check-merge-conflict

show preview in Table._repr_html_
  src/pydiverse/transform/_internal/pipe/table.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

check-deps as pixi task
  .github/workflows/tests.yml
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

Ensure pydiverse-common 0.3.4 dependencies are installed. (#64)
  .github/scripts/check_deps.sh
  .github/workflows/tests.yml
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

add expression export
  src/pydiverse/transform/_internal/backend/table_impl.py
  src/pydiverse/transform/_internal/pipe/table.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

use table export / repr for column expressions
  src/pydiverse/transform/_internal/pipe/table.py
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

add ast_repr() and tests
  src/pydiverse/transform/_internal/tree/col_expr.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

Align pixi docs dependencies.
  pixi.toml
Due: taplo, check-merge-conflict

add enum type
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  src/pydiverse/transform/_internal/tree/types.py
  src/pydiverse/transform/types.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

throw error on postgres try_cast
  src/pydiverse/transform/_internal/backend/postgres.py
Due: generate-col-ops, check-merge-conflict

implement try_cast on postgres
  src/pydiverse/transform/_internal/backend/postgres.py
  src/pydiverse/transform/_internal/backend/sql.py
  tests/test_backend_equivalence/test_ops/test_cast.py
  tests/test_backend_equivalence/test_ops/test_ops_numerical.py
Due: generate-col-ops, check-merge-conflict

Path conditions:
  generate-col-ops: any of: \.py$, but not: ^.pixi$
  taplo: any of: \.toml$, but not: ^.pixi$
  check-merge-conflict: any of: not (.rst$), but not: ^.pixi$
