Repository pydiverse/pydiverse.transform: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-col-ops, taplo, check-merge-conflict

.pre-commit-config.yaml:

exclude: ^.pixi$
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      - id: generate-col-ops
        name: generate-col-ops
        language: system
        entry: pixi run python generate_col_ops.py
        types: [python]
        pass_filenames: false
      # ruff
      - id: ruff
        name: ruff
        entry: pixi run ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      # - id: mypy
      #   name: mypy
      #   entry: pixi run mypy
      #   language: system
      #   types: [python]
      #   require_serial: true
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run end-of-file-fixer
        language: system
        types: [text]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run check-merge-conflict --assume-in-merge
        language: system
        types: [text]
        exclude: ".rst$"
      # typos
      - id: typos
        name: typos
        entry: pixi run typos --force-exclude
        language: system
        types: [text]
        require_serial: true

Support python 3.14
  .github/workflows/tests.yml
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

Support python 3.14.
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

update changelog
  docs/source/changelog.md
Due: check-merge-conflict

Support python 3.14 (#88)
  .github/workflows/tests.yml
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

update ruff to py312
  pyproject.toml
Due: taplo, check-merge-conflict

Make python requirement more consistent
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

switched back ruff to 3.11 to avoid pre-commit errors
  pyproject.toml
Due: taplo, check-merge-conflict

Retire python 3.10 support across all pydiverse libraries.
  .github/workflows/tests.yml
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

updated changelog
  docs/source/changelog.md
Due: check-merge-conflict

Retire python 3.10 support across all pydiverse libraries. (#89)
  .github/workflows/tests.yml
  docs/source/changelog.md
  pixi.lock
  pixi.toml
  pyproject.toml
Due: taplo, check-merge-conflict

Update pixi lockfile
  pixi.lock
Due: check-merge-conflict

Fix Table.is_sql_backend
  docs/source/changelog.md
  pyproject.toml
  src/pydiverse/transform/_internal/pipe/table.py
Due: generate-col-ops, taplo, check-merge-conflict

Fix Table.is_sql_backend
  docs/source/changelog.md
  src/pydiverse/transform/_internal/pipe/table.py
Due: generate-col-ops, check-merge-conflict

Fix backend name (#92)
  docs/source/changelog.md
  pyproject.toml
  src/pydiverse/transform/_internal/pipe/table.py
Due: generate-col-ops, taplo, check-merge-conflict

Fix collisions during column renaming.
  docs/source/changelog.md
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

Fix ColName hashing code.
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

prepare release 0.6.2
  docs/source/changelog.md
Due: check-merge-conflict

Fix collisions during column renaming. (#93)
  docs/source/changelog.md
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/tree/col_expr.py
  tests/test_polars_table.py
Due: generate-col-ops, check-merge-conflict

Started implementing union functionality.
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/pipe/cache.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  src/pydiverse/transform/_internal/tree/verbs.py
  src/pydiverse/transform/common.py
  tests/test_backend_equivalence/test_union.py
Due: generate-col-ops, check-merge-conflict

Improved Union functionality (one test still failing)
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/backend/sql.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  tests/test_backend_equivalence/test_union.py
Due: generate-col-ops, check-merge-conflict

Fixed Union tests
  tests/test_backend_equivalence/test_union.py
Due: generate-col-ops, check-merge-conflict

Fix sqlite test and prepare release 0.6.3.
  ai_docs/COMPILE_AST_QUERY_RELATIONSHIP.md
  docs/source/changelog.md
  pyproject.toml
  src/pydiverse/transform/_internal/backend/sql.py
  tests/test_backend_equivalence/test_union.py
Due: generate-col-ops, taplo, check-merge-conflict

Fix skip_fixtures
  docs/source/reference/verbs.rst
  tests/test_backend_equivalence/test_union.py
Due: generate-col-ops, check-merge-conflict

Fix union tests for IBM-DB2
  tests/test_backend_equivalence/test_union.py
Due: generate-col-ops, check-merge-conflict

Fix map doc example
  src/pydiverse/transform/_internal/tree/col_expr.py
Due: generate-col-ops, check-merge-conflict

Fix map type and string handling.
  docs/source/changelog.md
  pyproject.toml
  src/pydiverse/transform/_internal/tree/col_expr.py
  src/pydiverse/transform/_internal/tree/types.py
  tests/test_backend_equivalence/test_ops/test_case_expression.py
Due: generate-col-ops, taplo, check-merge-conflict

Fix print of short tables.
  docs/source/changelog.md
  src/pydiverse/transform/_internal/pipe/table.py
  src/pydiverse/transform/_internal/pipe/verbs.py
Due: generate-col-ops, check-merge-conflict

Switched from in-memory DB tests to file based tests.
  pixi.toml
  src/pydiverse/transform/_internal/pipe/verbs.py
  tests/test_backend_equivalence/conftest.py
  tests/test_backend_equivalence/test_print.py
  tests/test_backend_equivalence/test_union.py
  tests/test_sql_table.py
  tests/util/backend.py
  tests/util/filelock.py
Due: generate-col-ops, taplo, check-merge-conflict

Try fix CI.
  tests/test_backend_equivalence/conftest.py
  tests/test_backend_equivalence/test_union.py
  tests/test_sql_table.py
Due: generate-col-ops, check-merge-conflict

Fix print of short tables. (#95)
  docs/source/changelog.md
  pixi.toml
  src/pydiverse/transform/_internal/pipe/table.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  tests/test_backend_equivalence/conftest.py
  tests/test_backend_equivalence/test_print.py
  tests/test_backend_equivalence/test_union.py
  tests/test_sql_table.py
  tests/util/backend.py
  tests/util/filelock.py
Due: generate-col-ops, taplo, check-merge-conflict

fix sqlalchemy deprecation warnings
  docs/source/changelog.md
  src/pydiverse/transform/_internal/backend/sql.py
  tests/test_sql_table.py
Due: generate-col-ops, check-merge-conflict

Started fixing subquery group-by
  ai_docs/PARTITION_BY_VS_GROUP_BY.md
  src/pydiverse/transform/_internal/backend/polars.py
  src/pydiverse/transform/_internal/pipe/cache.py
  src/pydiverse/transform/_internal/pipe/pipeable.py
  src/pydiverse/transform/_internal/pipe/verbs.py
  tests/test_backend_equivalence/test_group_by.py
Due: generate-col-ops, check-merge-conflict

fix sqlalchemy deprecation warnings (#99)
  docs/source/changelog.md
  src/pydiverse/transform/_internal/backend/sql.py
  tests/test_sql_table.py
Due: generate-col-ops, check-merge-conflict

For now, disable printing of table content for SQL.
  docs/source/changelog.md
  src/pydiverse/transform/_internal/pipe/table.py
  tests/test_backend_equivalence/test_print.py
Due: generate-col-ops, check-merge-conflict

prepare release 0.7.0
  pyproject.toml
Due: taplo, check-merge-conflict

For now, disable printing of table content for SQL. (#102)
  docs/source/changelog.md
  pyproject.toml
  src/pydiverse/transform/_internal/pipe/table.py
  tests/test_backend_equivalence/test_print.py
Due: generate-col-ops, taplo, check-merge-conflict
